appsettings*.json
appsettings.Local.json
!appsettings.example.json

secrets.json
.env
.local.env

.idea/
.vscode/
.vs/
*.suo
*.user
*.userosscache
*.sln.docstates
_ReSharper.Caches/

bin/
obj/
artifacts/
*.cache
*.log
*.tmp
[Tt]emp/

node_modules/
packages/
.nuget/
package-lock.json

TestResults/
coverage/
*.coverage

.dockerignore
docker-compose.override.yml
docker-compose.debug.yml

wwwroot/

Thumbs.db
ehthumbs.db
Desktop.ini

*.cab
*.msi
*.msm
*.msp
*.vspscc
*.vssscc

# PostgreSQL-specific
*.bak
*.dump
/pgdata/